############################################################
# EXAMPLE CONFIGURATION FILE, for AnalysisAthena
############################################################

# Global Settings
# ===============
:eleBeamEn 10
:ionBeamEn 100
:crossingAngle -25
:totalCrossSection 555660.0

# Group Settings   | NOTE: they must be sorted by increasing strictness
# ==============   | of Q2 cuts, or at least by decreasing cross section

# Q2 range 1
:q2min 1.0
:crossSection 555660.0
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=1/pythia8NCDIS_10x100_minQ2=1_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_000.0001.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=1/pythia8NCDIS_10x100_minQ2=1_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_000.0002.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=1/pythia8NCDIS_10x100_minQ2=1_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_000.0003.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=1/pythia8NCDIS_10x100_minQ2=1_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_000.0004.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=1/pythia8NCDIS_10x100_minQ2=1_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_001.0001.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=1/pythia8NCDIS_10x100_minQ2=1_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_001.0002.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=1/pythia8NCDIS_10x100_minQ2=1_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_001.0003.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=1/pythia8NCDIS_10x100_minQ2=1_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_001.0004.root

# Q2 range 2
:q2min 10.0
:crossSection 40026.0
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=10/pythia8NCDIS_10x100_minQ2=10_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_000.0001.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=10/pythia8NCDIS_10x100_minQ2=10_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_000.0002.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=10/pythia8NCDIS_10x100_minQ2=10_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_000.0003.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=10/pythia8NCDIS_10x100_minQ2=10_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_000.0004.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=10/pythia8NCDIS_10x100_minQ2=10_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_000.0005.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=10/pythia8NCDIS_10x100_minQ2=10_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_001.0001.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=10/pythia8NCDIS_10x100_minQ2=10_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_001.0002.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=10/pythia8NCDIS_10x100_minQ2=10_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_001.0003.root

# Q2 range 3
:q2min 100.0
:crossSection 1343.0
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=100/pythia8NCDIS_10x100_minQ2=100_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_000.0001.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=100/pythia8NCDIS_10x100_minQ2=100_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_000.0002.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=100/pythia8NCDIS_10x100_minQ2=100_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_000.0003.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=100/pythia8NCDIS_10x100_minQ2=100_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_000.0004.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=100/pythia8NCDIS_10x100_minQ2=100_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_000.0005.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=100/pythia8NCDIS_10x100_minQ2=100_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_000.0006.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=100/pythia8NCDIS_10x100_minQ2=100_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_000.0007.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=100/pythia8NCDIS_10x100_minQ2=100_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_001.0001.root

# Q2 range 4
:q2min 1000.0
:crossSection 6.8238
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=1000/pythia8NCDIS_10x100_minQ2=1000_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_000.0001.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=1000/pythia8NCDIS_10x100_minQ2=1000_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_000.0002.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=1000/pythia8NCDIS_10x100_minQ2=1000_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_000.0003.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=1000/pythia8NCDIS_10x100_minQ2=1000_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_000.0004.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=1000/pythia8NCDIS_10x100_minQ2=1000_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_000.0005.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=1000/pythia8NCDIS_10x100_minQ2=1000_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_000.0006.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=1000/pythia8NCDIS_10x100_minQ2=1000_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_000.0007.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/deathvalley-v1.0/DIS/NC/10x100/minQ2=1000/pythia8NCDIS_10x100_minQ2=1000_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1_000.0008.root
