100 100.0 datarec/canyonlands/5x41/minQ2=100/pythia8NCDIS_5x41_minQ2=100_beamEffects_xAngle=-0.025_hiDiv_vtxfix_5.0223.root 0 datarec/canyonlands/5x41/minQ2=100/pythia8NCDIS_5x41_minQ2=100_beamEffects_xAngle=-0.025_hiDiv_vtxfix_5.0156.root 0 datarec/canyonlands/5x41/minQ2=100/pythia8NCDIS_5x41_minQ2=100_beamEffects_xAngle=-0.025_hiDiv_vtxfix_5.0149.root 0 datarec/canyonlands/5x41/minQ2=100/pythia8NCDIS_5x41_minQ2=100_beamEffects_xAngle=-0.025_hiDiv_vtxfix_5.0064.root 0 datarec/canyonlands/5x41/minQ2=100/pythia8NCDIS_5x41_minQ2=100_beamEffects_xAngle=-0.025_hiDiv_vtxfix_5.0016.root 0 datarec/canyonlands/5x41/minQ2=100/pythia8NCDIS_5x41_minQ2=100_beamEffects_xAngle=-0.025_hiDiv_vtxfix_3.0217.root 0 datarec/canyonlands/5x41/minQ2=100/pythia8NCDIS_5x41_minQ2=100_beamEffects_xAngle=-0.025_hiDiv_vtxfix_3.0093.root 0 datarec/canyonlands/5x41/minQ2=100/pythia8NCDIS_5x41_minQ2=100_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1.0008.root 0
10 1000.0 datarec/canyonlands/5x41/minQ2=10/pythia8NCDIS_5x41_minQ2=10_beamEffects_xAngle=-0.025_hiDiv_vtxfix_2.0012.root 0 datarec/canyonlands/5x41/minQ2=10/pythia8NCDIS_5x41_minQ2=10_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1.0033.root 0
1 10000.0 datarec/canyonlands/5x41/minQ2=1/pythia8NCDIS_5x41_minQ2=1_beamEffects_xAngle=-0.025_hiDiv_vtxfix_2.0017.root 0 datarec/canyonlands/5x41/minQ2=1/pythia8NCDIS_5x41_minQ2=1_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1.0052.root 0 datarec/canyonlands/5x41/minQ2=1/pythia8NCDIS_5x41_minQ2=1_beamEffects_xAngle=-0.025_hiDiv_vtxfix_1.0030.root 0
