############################################################
# EXAMPLE CONFIGURATION FILE, for AnalysisEcce
############################################################

# Global Settings
# ===============
:eleBeamEn 10
:ionBeamEn 100
:crossingAngle -25
:totalCrossSection 579700.0

# Group Settings   | NOTE: they must be sorted by increasing strictness
# ==============   | of Q2 cuts, or at least by decreasing cross section

# Q2 range 1
:q2min 1.0
:crossSection 579700.0
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100/DST_SIDIS_pythia6_ep-10x100_000_0000000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100/DST_SIDIS_pythia6_ep-10x100_000_0002000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100/DST_SIDIS_pythia6_ep-10x100_000_0004000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100/DST_SIDIS_pythia6_ep-10x100_000_0006000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100/DST_SIDIS_pythia6_ep-10x100_000_0008000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100/DST_SIDIS_pythia6_ep-10x100_000_0010000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100/DST_SIDIS_pythia6_ep-10x100_000_0012000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100/DST_SIDIS_pythia6_ep-10x100_000_0014000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100/DST_SIDIS_pythia6_ep-10x100_000_0016000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100/DST_SIDIS_pythia6_ep-10x100_000_0018000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100/DST_SIDIS_pythia6_ep-10x100_000_0020000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100/DST_SIDIS_pythia6_ep-10x100_000_0022000_02000_g4event_eval.root

# Q2 range 2
:q2min 1.0
:q2max 100.0
:crossSection 578400.0
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100-q2-low/DST_SIDIS_pythia6_ep-10x100-q2-low_000_0000000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100-q2-low/DST_SIDIS_pythia6_ep-10x100-q2-low_000_0002000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100-q2-low/DST_SIDIS_pythia6_ep-10x100-q2-low_000_0004000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100-q2-low/DST_SIDIS_pythia6_ep-10x100-q2-low_000_0006000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100-q2-low/DST_SIDIS_pythia6_ep-10x100-q2-low_000_0008000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100-q2-low/DST_SIDIS_pythia6_ep-10x100-q2-low_000_0010000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100-q2-low/DST_SIDIS_pythia6_ep-10x100-q2-low_000_0012000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100-q2-low/DST_SIDIS_pythia6_ep-10x100-q2-low_000_0014000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100-q2-low/DST_SIDIS_pythia6_ep-10x100-q2-low_000_0016000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100-q2-low/DST_SIDIS_pythia6_ep-10x100-q2-low_000_0018000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100-q2-low/DST_SIDIS_pythia6_ep-10x100-q2-low_000_0020000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100-q2-low/DST_SIDIS_pythia6_ep-10x100-q2-low_000_0022000_02000_g4event_eval.root

# Q2 range 3
:q2min 100.0
:crossSection 1159.0
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100-q2-high/DST_SIDIS_pythia6_ep-10x100-q2-high_000_0000000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100-q2-high/DST_SIDIS_pythia6_ep-10x100-q2-high_000_0002000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100-q2-high/DST_SIDIS_pythia6_ep-10x100-q2-high_000_0004000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100-q2-high/DST_SIDIS_pythia6_ep-10x100-q2-high_000_0006000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100-q2-high/DST_SIDIS_pythia6_ep-10x100-q2-high_000_0008000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100-q2-high/DST_SIDIS_pythia6_ep-10x100-q2-high_000_0010000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100-q2-high/DST_SIDIS_pythia6_ep-10x100-q2-high_000_0012000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100-q2-high/DST_SIDIS_pythia6_ep-10x100-q2-high_000_0014000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100-q2-high/DST_SIDIS_pythia6_ep-10x100-q2-high_000_0016000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100-q2-high/DST_SIDIS_pythia6_ep-10x100-q2-high_000_0018000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100-q2-high/DST_SIDIS_pythia6_ep-10x100-q2-high_000_0020000_02000_g4event_eval.root
s3https://dtn01.sdcc.bnl.gov:9000/eictest/EPIC/Campaigns/22.1/SIDIS/pythia6/ep-10x100-q2-high/DST_SIDIS_pythia6_ep-10x100-q2-high_000_0022000_02000_g4event_eval.root
