# main ignores
.*.sw*
*.hepmc*
*.root
*.pcm
*.so
*.o
*.exe
*.tmp
*.zip
*Dict.cxx
tags

# input/output directories
out/*
!out/.keep
datagen/*
!datagen/.keep
datarec/*
!datarec/.keep
!datarec/xsec
!datarec/trimTree.C
results*

# tmp files
tutorial/delphes.config
tutorial/delphes.config.bak
tutorial/s3files.*.config
get-files.sh
*.xsec

# environment setup files
external
*.sif
container/img
