# main ignores
.*.sw*
*.hepmc*
*.root
*.pcm
*.so
*.o
*.exe
*.tmp
out/*.png
out/*.pdf
out/*/*.png
out/*/*.pdf
*Dict.cxx
out/*/*.txt
external
*.sif
container/img
get-files.sh
results*
*.xsec
tags
*.zip
tutorial/delphes.config
tutorial/delphes.config.bak

# users' custom ignores
datagen/escalate
datagen/arc
datarec/arc
datarec/athena/*
datarec/ecce/*
testconfig
