# main ignores
.*.sw*
*.hepmc*
*.root
*.pcm
*.so
*.o
*.exe
out/*/*.png
out/*/*.pdf
*Dict.cxx
out/*/*.txt
external
*.sif
container/img
get-files.sh
results*
*.xsec

# users' custom ignores
datagen/escalate
datagen/arc
datarec/arc
datarec/canyonlands
