1000 6.8238 s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/canyonlands-v2.0/DIS/NC/10x100/minQ2=1000/pythia8NCDIS_10x100_minQ2=1000_beamEffects_xAngle=-0.025_hiDiv_vtxfix_5.0105.root 0 s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/canyonlands-v2.0/DIS/NC/10x100/minQ2=1000/pythia8NCDIS_10x100_minQ2=1000_beamEffects_xAngle=-0.025_hiDiv_vtxfix_5.0104.root 0 s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/canyonlands-v2.0/DIS/NC/10x100/minQ2=1000/pythia8NCDIS_10x100_minQ2=1000_beamEffects_xAngle=-0.025_hiDiv_vtxfix_5.0103.root 0 s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/canyonlands-v2.0/DIS/NC/10x100/minQ2=1000/pythia8NCDIS_10x100_minQ2=1000_beamEffects_xAngle=-0.025_hiDiv_vtxfix_5.0068.root 0 s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/canyonlands-v2.0/DIS/NC/10x100/minQ2=1000/pythia8NCDIS_10x100_minQ2=1000_beamEffects_xAngle=-0.025_hiDiv_vtxfix_5.0026.root 0
100 1343 s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/canyonlands-v2.0/DIS/NC/10x100/minQ2=100/pythia8NCDIS_10x100_minQ2=100_beamEffects_xAngle=-0.025_hiDiv_vtxfix_5.0204.root 0 s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/canyonlands-v2.0/DIS/NC/10x100/minQ2=100/pythia8NCDIS_10x100_minQ2=100_beamEffects_xAngle=-0.025_hiDiv_vtxfix_5.0203.root 0 s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/canyonlands-v2.0/DIS/NC/10x100/minQ2=100/pythia8NCDIS_10x100_minQ2=100_beamEffects_xAngle=-0.025_hiDiv_vtxfix_5.0202.root 0 s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/canyonlands-v2.0/DIS/NC/10x100/minQ2=100/pythia8NCDIS_10x100_minQ2=100_beamEffects_xAngle=-0.025_hiDiv_vtxfix_5.0201.root 0 s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/canyonlands-v2.0/DIS/NC/10x100/minQ2=100/pythia8NCDIS_10x100_minQ2=100_beamEffects_xAngle=-0.025_hiDiv_vtxfix_5.0200.root 0
10 40026 s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/canyonlands-v2.0/DIS/NC/10x100/minQ2=10/pythia8NCDIS_10x100_minQ2=10_beamEffects_xAngle=-0.025_hiDiv_vtxfix_4.0163.root 0 s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/canyonlands-v2.0/DIS/NC/10x100/minQ2=10/pythia8NCDIS_10x100_minQ2=10_beamEffects_xAngle=-0.025_hiDiv_vtxfix_4.0162.root 0 s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/canyonlands-v2.0/DIS/NC/10x100/minQ2=10/pythia8NCDIS_10x100_minQ2=10_beamEffects_xAngle=-0.025_hiDiv_vtxfix_4.0161.root 0 s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/canyonlands-v2.0/DIS/NC/10x100/minQ2=10/pythia8NCDIS_10x100_minQ2=10_beamEffects_xAngle=-0.025_hiDiv_vtxfix_4.0160.root 0 s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/canyonlands-v2.0/DIS/NC/10x100/minQ2=10/pythia8NCDIS_10x100_minQ2=10_beamEffects_xAngle=-0.025_hiDiv_vtxfix_4.0159.root 0
1 5.5566e+05 s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/canyonlands-v2.0/DIS/NC/10x100/minQ2=1/pythia8NCDIS_10x100_minQ2=1_beamEffects_xAngle=-0.025_hiDiv_vtxfix_4.0072.root 0 s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/canyonlands-v2.0/DIS/NC/10x100/minQ2=1/pythia8NCDIS_10x100_minQ2=1_beamEffects_xAngle=-0.025_hiDiv_vtxfix_4.0026.root 0 s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/canyonlands-v2.0/DIS/NC/10x100/minQ2=1/pythia8NCDIS_10x100_minQ2=1_beamEffects_xAngle=-0.025_hiDiv_vtxfix_4.0022.root 0 s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/canyonlands-v2.0/DIS/NC/10x100/minQ2=1/pythia8NCDIS_10x100_minQ2=1_beamEffects_xAngle=-0.025_hiDiv_vtxfix_4.0020.root 0 s3https://dtn01.sdcc.bnl.gov:9000/eictest/ATHENA/RECO/canyonlands-v2.0/DIS/NC/10x100/minQ2=1/pythia8NCDIS_10x100_minQ2=1_beamEffects_xAngle=-0.025_hiDiv_vtxfix_4.0019.root 0
