############################################################
# EXAMPLE CONFIGURATION FILE
############################################################

#-----------------------------------------------------------
# This is an example config file
#
# This file can be used as a template, but it is easier to 
# auto-generate config files using scripts in `s3tools/`; see
# `s3tools/README.md` for more details
#
# Syntax and Parsing
# - if the first character is ':', it is a setting: the name of 
#   the parameter together with a value, separated by a space
#   - settings are generally optional; if you don't specify
#     a setting, it will take a default value, likely set in
#     `src/Analysis.cxx`
# - any text after '#' is ignored; use this for comments
# - if none of the above, it is an input file
#   - input files can be grouped together by Q2 range
#   - each Q2 range includes a cross section, used for weights
#     when combining data from multiple Q2 ranges
#   - files can be either local, or URLs on S3
#-----------------------------------------------------------


# Global Settings: these settings apply to all of the files in this config file
# ===============
:eleBeamEn 10  # beam energies, in GeV
:ionBeamEn 100
:crossingAngle -25  # crossing angle, in mrad
:totalCrossSection 555660.0  # total cross section, needed for Q2 weights; this may be the same
                             # cross section as your least-strict Q2 range (e.g., Q2>1)


# Group Settings: these settings are specific for each Q2 range
# ==============
#   NOTE: they must be sorted by increasing strictness
#         of Q2 cuts, or at least by decreasing cross section

# Q2 range 1
:q2min 1.0
#:q2max 100.0  # specify a Q2 maximum, if you need one
:crossSection 555660.0  # cross section
datarec/10x100/minQ2=1/file1.root # list of local files
datarec/10x100/minQ2=1/file2.root
datarec/10x100/minQ2=1/file3.root
datarec/10x100/minQ2=1/file4.root
datarec/10x100/minQ2=1/file5.root

# to start a new group, specify a new Q2 range and cross section
# Q2 range 2
:q2min 10.0
:crossSection 40026.0
datarec/10x100/minQ2=10/file1.root
datarec/10x100/minQ2=10/file2.root
#datarec/10x100/minQ2=10/file3.root  # comment out a bad file
datarec/10x100/minQ2=10/file4.root
datarec/10x100/minQ2=10/file5.root

# to stream from S3, use s3https URLS
# Q2 range 3
:q2min 100.0
:crossSection 1343.0
s3https://eics3.sdcc.bnl.gov:9000/eictest/EPIC/____/____/10x100/minQ2=100/file1.root
s3https://eics3.sdcc.bnl.gov:9000/eictest/EPIC/____/____/10x100/minQ2=100/file2.root
s3https://eics3.sdcc.bnl.gov:9000/eictest/EPIC/____/____/10x100/minQ2=100/file3.root
